Project Euler is a fantastic set of mathematical programming problems. Use the skills we’ve discussed here to find efficient solutions to the first 10 problems. Once you’ve found your own solutions look around the web for others’ Python solutions to see other ways people have approached these problems.

1. If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.

In [81]:
answer1 = []
x = 3
y = 5

while x < 1000:
    answer1.append(x)
    answer1.append(y)
    x += 3
    y += 5
    if x >= 1000:
        break
    if y >= 1000:
        break

In [82]:
sum(answer1)

159200

In [83]:
answer1 = []
x = 3
y = 5

In [84]:
while x < 1000:
    answer1.append(x)
    x += 3
    if x >= 1000:
        break

In [85]:
while y < 1000:
    answer1.append(y)
    y += 5
    if y >= 1000:
        break

In [86]:
sorted(answer1)

[3,
 5,
 6,
 9,
 10,
 12,
 15,
 15,
 18,
 20,
 21,
 24,
 25,
 27,
 30,
 30,
 33,
 35,
 36,
 39,
 40,
 42,
 45,
 45,
 48,
 50,
 51,
 54,
 55,
 57,
 60,
 60,
 63,
 65,
 66,
 69,
 70,
 72,
 75,
 75,
 78,
 80,
 81,
 84,
 85,
 87,
 90,
 90,
 93,
 95,
 96,
 99,
 100,
 102,
 105,
 105,
 108,
 110,
 111,
 114,
 115,
 117,
 120,
 120,
 123,
 125,
 126,
 129,
 130,
 132,
 135,
 135,
 138,
 140,
 141,
 144,
 145,
 147,
 150,
 150,
 153,
 155,
 156,
 159,
 160,
 162,
 165,
 165,
 168,
 170,
 171,
 174,
 175,
 177,
 180,
 180,
 183,
 185,
 186,
 189,
 190,
 192,
 195,
 195,
 198,
 200,
 201,
 204,
 205,
 207,
 210,
 210,
 213,
 215,
 216,
 219,
 220,
 222,
 225,
 225,
 228,
 230,
 231,
 234,
 235,
 237,
 240,
 240,
 243,
 245,
 246,
 249,
 250,
 252,
 255,
 255,
 258,
 260,
 261,
 264,
 265,
 267,
 270,
 270,
 273,
 275,
 276,
 279,
 280,
 282,
 285,
 285,
 288,
 290,
 291,
 294,
 295,
 297,
 300,
 300,
 303,
 305,
 306,
 309,
 310,
 312,
 315,
 315,
 318,
 320,
 321,
 324,
 325,
 327,
 330,
 330,
 333,
 335,
 336,
 339,
 340,
 342,
 345,
 345,
 348,
 350,
 351,
 354,
 355,
 357,
 360,
 360,
 363,
 365,
 366,
 369,
 370,
 372,
 375,
 375,
 378,
 380,
 381,
 384,
 385,
 387,
 390,
 390,
 393,
 395,
 396,
 399,
 400,
 402,
 405,
 405,
 408,
 410,
 411,
 414,
 415,
 417,
 420,
 420,
 423,
 425,
 426,
 429,
 430,
 432,
 435,
 435,
 438,
 440,
 441,
 444,
 445,
 447,
 450,
 450,
 453,
 455,
 456,
 459,
 460,
 462,
 465,
 465,
 468,
 470,
 471,
 474,
 475,
 477,
 480,
 480,
 483,
 485,
 486,
 489,
 490,
 492,
 495,
 495,
 498,
 500,
 501,
 504,
 505,
 507,
 510,
 510,
 513,
 515,
 516,
 519,
 520,
 522,
 525,
 525,
 528,
 530,
 531,
 534,
 535,
 537,
 540,
 540,
 543,
 545,
 546,
 549,
 550,
 552,
 555,
 555,
 558,
 560,
 561,
 564,
 565,
 567,
 570,
 570,
 573,
 575,
 576,
 579,
 580,
 582,
 585,
 585,
 588,
 590,
 591,
 594,
 595,
 597,
 600,
 600,
 603,
 605,
 606,
 609,
 610,
 612,
 615,
 615,
 618,
 620,
 621,
 624,
 625,
 627,
 630,
 630,
 633,
 635,
 636,
 639,
 640,
 642,
 645,
 645,
 648,
 650,
 651,
 654,
 655,
 657,
 660,
 660,
 663,
 665,
 666,
 669,
 670,
 672,
 675,
 675,
 678,
 680,
 681,
 684,
 685,
 687,
 690,
 690,
 693,
 695,
 696,
 699,
 700,
 702,
 705,
 705,
 708,
 710,
 711,
 714,
 715,
 717,
 720,
 720,
 723,
 725,
 726,
 729,
 730,
 732,
 735,
 735,
 738,
 740,
 741,
 744,
 745,
 747,
 750,
 750,
 753,
 755,
 756,
 759,
 760,
 762,
 765,
 765,
 768,
 770,
 771,
 774,
 775,
 777,
 780,
 780,
 783,
 785,
 786,
 789,
 790,
 792,
 795,
 795,
 798,
 800,
 801,
 804,
 805,
 807,
 810,
 810,
 813,
 815,
 816,
 819,
 820,
 822,
 825,
 825,
 828,
 830,
 831,
 834,
 835,
 837,
 840,
 840,
 843,
 845,
 846,
 849,
 850,
 852,
 855,
 855,
 858,
 860,
 861,
 864,
 865,
 867,
 870,
 870,
 873,
 875,
 876,
 879,
 880,
 882,
 885,
 885,
 888,
 890,
 891,
 894,
 895,
 897,
 900,
 900,
 903,
 905,
 906,
 909,
 910,
 912,
 915,
 915,
 918,
 920,
 921,
 924,
 925,
 927,
 930,
 930,
 933,
 935,
 936,
 939,
 940,
 942,
 945,
 945,
 948,
 950,
 951,
 954,
 955,
 957,
 960,
 960,
 963,
 965,
 966,
 969,
 970,
 972,
 975,
 975,
 978,
 980,
 981,
 984,
 985,
 987,
 990,
 990,
 993,
 995,
 996,
 999]

In [87]:
answer1_set = set(answer1)

In [88]:
sum(answer1_set)

233168

<dd>2. Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [113]:
answer2 = []

In [90]:
def remove_odd(l):
    return [x for x in l if x % 2 == 0]

In [91]:
fib_cache = {}

In [92]:
def fib(n):
    if n in fib_cache:
        return fib_cache[n]
    if n == 1:
        value = 1
    elif n == 2:
        value = 1
    elif n > 2:
        value = fib(n-1) + fib(n-2)
    fib_cache[n] = value
    return value

In [112]:
for n in range(1, 34):
    print(n, ":", fib(n))

1 : 1
2 : 1
3 : 2
4 : 3
5 : 5
6 : 8
7 : 13
8 : 21
9 : 34
10 : 55
11 : 89
12 : 144
13 : 233
14 : 377
15 : 610
16 : 987
17 : 1597
18 : 2584
19 : 4181
20 : 6765
21 : 10946
22 : 17711
23 : 28657
24 : 46368
25 : 75025
26 : 121393
27 : 196418
28 : 317811
29 : 514229
30 : 832040
31 : 1346269
32 : 2178309
33 : 3524578

In [114]:
for n in range(1, 34):
    answer2.append(fib(n))

In [115]:
answer2

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578]

In [116]:
answer2_even = remove_odd(answer2)

In [117]:
answer2_even

[2, 8, 34, 144, 610, 2584, 10946, 46368, 196418, 832040, 3524578]

In [118]:
sum(answer2_even)

4613732

<dd>3. The prime factors of 13195 are 5, 7, 13 and 29. What is the largest prime factor of the number 600851475143 ?

In [119]:
n = 600851475143
i = 2
while i * i < n:
     while n % i == 0:
         n = n / i
     i = i + 1

print (n)

6857.0

<dd>4. A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99. Find the largest palindrome made from the product of two 3-digit numbers.

In [121]:
def isPalindrome(num):
    return str(num) == str(num)[::-1]

def largest(bot, top):
    z = 0
    for x in range(top, bot, -1):
        for y in range(top,bot, -1):
            if isPalindrome(x*y):
                if x*y > z:
                    z = x*y
    return z

In [123]:
print(largest(100,999))

906609

<dd>5. 2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder. What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?

In [141]:
answer5 = []

In [144]:
for i in range(1,1000000000):
    if i % 2 == 0 and i % 3 == 0 and i % 4 == 0 and i % 5 == 0 and i % 6 == 0 and i % 7 == 0 and i % 8 == 0 and i % 9 == 0 and i % 10 == 0 and i % 11 == 0 and i % 12 == 0 and i % 13 == 0 and i % 14 == 0 and i % 15 == 0 and i % 16 == 0 and i % 17 == 0 and i % 18 == 0 and i % 19 == 0 and i % 20 == 0:
        answer5.append(i)

In [145]:
answer5

[232792560, 465585120, 698377680, 931170240]

<dd>6. The sum of the squares of the first ten natural numbers is,

12 + 22 + ... + 102 = 385
The square of the sum of the first ten natural numbers is,

(1 + 2 + ... + 10)2 = 552 = 3025
Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025 − 385 = 2640.

Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

In [172]:
answer6_sum_square = []

for i in range(1, 101):
    answer6_sum_square.append(i*i)

In [173]:
answer6_sum_square

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [174]:
square_sum = sum(answer6_sum_square)

In [175]:
square_sum

338350

In [176]:
answer6_sum = []

for i in range(1,101):
    answer6_sum.append(i)

In [177]:
answer6_sum

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [178]:
sum_square = sum(answer6_sum)*sum(answer6_sum)

In [179]:
sum_square

25502500

In [180]:
diff = sum_square - square_sum

In [181]:
diff

25164150

<dd>7. By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13. What is the 10001st prime number?

In [223]:
answer7 = []

In [213]:
import math

def is_prime(n):
    if n == 1:
        return False
    
    if n == 2:
        return True
    if n > 2 and n % 2 == 0:
        return False
    
    max_divisor = math.floor(math.sqrt(n))
    for d in range(3, 1 + max_divisor, 2):
        if n % d == 0:
            return False
    return True

In [214]:
is_prime(20)

False

In [224]:
for i in range(2,500000):
    if is_prime(i) == True:
        answer7.append(i)

In [228]:
# because I included 2 first so it'll be the 10,000th, not 10,001st
answer7[10000]

104743

<dd>8. The four adjacent digits in the 1000-digit number that have the greatest product are 9 × 9 × 8 × 9 = 5832. Find the thirteen adjacent digits in the 1000-digit number that have the greatest product. What is the value of this product?

In [237]:
num = 7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843858615607891129494954595017379583319528532088055111254069874715852386305071569329096329522744304355766896648950445244523161731856403098711121722383113622298934233803081353362766142828064444866452387493035890729629049156044077239071381051585930796086670172427121883998797908792274921901699720888093776657273330010533678812202354218097512545405947522435258490771167055601360483958644670632441572215539753697817977846174064955149290862569321978468622482839722413756570560574902614079729686524145351004748216637048440319989000889524345065854122758866688116427171479924442928230863465674813919123162824586178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450

In [238]:
a = num
b = str(a)
c = []

for digit in b:
    c.append (int(digit))

print(c[:4])

[7, 3, 1, 6]

In [241]:
for i in range(1000):
    c[i] = int(c[i])

previous_product = 1
for x in range(13):
  previous_product *= c[x]
current_product = previous_product*c[13]/c[0]

large_products = []

for i in range(1, 987):
  if current_product > previous_product:
    large_products.append(current_product)
  previous_product = current_product
  if c[i]==0:
    current_product = 1
    for x in range(13):
      current_product *= c[i+x+1]
  else:
    current_product = previous_product*c[i+x+1]/c[i]

print(max(large_products))

23514624000.0

<dd>9 There exists exactly one Pythagorean triplet for which a + b + c = 1000. Find the product abc.

In [13]:
if __name__ == '__main__':
    
    # Since we need three numbers
    # that equal 1000, we iterate
    # up to 400 to save time.
    # This because we know that
    # a and b will be worth less than 400
    # because a < b < c
    for a in range(1, 400):
        for b in range(1, 400):
        
            # Find c bysubstracting a and b from 1000
            # There is no need to loop for c.
            c = (1000 - a) - b
        
            # each number must be smaller than the next
            if a < b < c:
            
                # check if numbers are pythagorean triplet
                if a**2 + b**2 == c**2:
                
                    # calculate the product
                    print(a * b * c)

31875000

<dd>10. The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17. Find the sum of all the primes below two million.

In [55]:
sieve = [True] * 2000000 # Sieve is faster for 2M primes
def mark(sieve, x):
    for i in range(x+x, len(sieve), x):
        sieve[i] = False

for x in range(2, int(len(sieve) ** 0.5) + 1):
    if sieve[x]: mark(sieve, x)

print (sum(i for i in range(2, len(sieve)) if sieve[i]))

142913828922